/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #99BB2E;
    color: #fff;
}
.modal-dialog {
    width: 640px;
}


.add_elemnt_block {
    padding: 12px 10px 5px 10px;
    border: 1px dashed rgba(125, 125, 125, 0.4);
    text-align: center;
}

.add_element_button {
    width: 39px;
    height: 38px;
    background-image: url(images/empty_row_sprite.png);
    background-position: top center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none !important;
    display: inline-block;
}
.add_element_button:hover {
  background-position: bottom center;
}
.elm_item{
    width: 200px;
    height: 50px;
    background: #eee;
    border: 1px solid #eee;
    padding: 5px 8px;
    margin: 5px;
    cursor: pointer;
    float: left;
}
.elm_item:hover{
    border: 1px solid #003eff;
}
.elm_icon{
    width: 32px;
    height: 32px;
    overflow: hidden;
    float: left;
}
.forms_icon{
    background: url(images/forms_icon.png) 0 0 no-repeat;
}
.textbox_icon{
    background: url(images/textBoxIcon.png) 0 0 no-repeat;
}
.html_icon{
    background: url(images/html_icon.png) 0 0 no-repeat;
}
.js_icon{
    background: url(images/js_icon.png) 0 0 no-repeat;
}
.elm_txt{
    float: left;
    margin-left: 10px;
}
.elm_txt .title{
    font-size: 12px;
    font-weight: bold;
    color: #000;
}
.elm_txt .desc{
    font-size: 10px;
    color: #333333;
    font-style: italic;
}

a.edit-form-element,
a.delete-form-element{
    cursor: pointer;
    color: #f00;
}

.form-tools{
    position: fixed;
    right: 10px;
    padding: 10px;
    background: #f2f2f2;
    top: 150px;
}
.form-tools input,
.form-tools textarea,
.form-tools button,
.form-tools div.browse-form{
    margin-bottom: 6px;
    padding: 3px 5px;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    outline: none;
    border: 1px solid #333;
}
.form-tools div.browse-form{
    
}
.new-form h3.title{
    font-size: 24px;
    padding: 0;
    margin: 0 0 5px 0;
}
#builder-options{
    border: none;
}
#builder-options .ui-widget-header{
    background: none;
    border: none;
}
#builder-options{
    padding: 0;
}
#builder-options li{
    background: #fff;
    border: 1px solid #2790C2;
    border-radius: 0;
}
#builder-options.ui-tabs .ui-tabs-nav li{
    border: 1px solid #2790C2;
    border-radius: 0;
    margin-right: 10px;
    padding: 8px 0 6px 0;
    outline: none;
    box-shadow: none;
}
#builder-options.ui-tabs .ui-tabs-nav li a{
    outline: none;
    box-shadow: none;
}
#builder-options li.ui-state-active{
    border: 1px solid #2790C2;
    border-radius: 0;
    margin-right: 10px;
    background: #2790C2;
}
#builder-options li a{
    /*color: #2790C2;*/
}
#builder-options.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
    /*padding: 12px 0 10px 0;*/
    width: 180px;
    text-align: center;
}
.builder-options-content{
    border: 1px solid #aeaeae !important;
    margin-top: 15px;
}
#builder-options li.ui-tabs-active{
    position: relative;
}
#builder-options li.ui-tabs-active a:after {
    content: "";
    position: absolute;
    bottom: -17px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 17px 14px 17px;
    border-color: transparent transparent #aeaeae transparent;
    left: 80px;
    z-index: 1;
}
#builder-options li.ui-tabs-active a:before {
    content: "";
    position: absolute;
    bottom: -17px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 12px 15px;
    border-color: transparent transparent #fff transparent;
    left: 83px;
    z-index: 2;
}
.ui-tabs .ui-tabs-panel{
    padding: 10px 15px;
}

[class^="icon-grid-"]{    
    width: 25px;
    height: 20px;
    margin: 0 8px 0 0;
    float: left;
    cursor: pointer;
}

.icon-grid-1{
    background: url(../images/grid-icons/icon-grid-1.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}
.icon-grid-2{
    background: url(../images/grid-icons/icon-grid-2.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}
.icon-grid-3{
    background: url(../images/grid-icons/icon-grid-3.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}
.icon-grid-2-3{
    background: url(../images/grid-icons/icon-grid-2-3.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}
.icon-grid-4{
    background: url(../images/grid-icons/icon-grid-4.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}
.icon-grid-3-4{
    background: url(../images/grid-icons/icon-grid-3-4.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}
.icon-grid-5{
    background: url(../images/grid-icons/icon-grid-5.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}
.icon-grid-2-5{
    background: url(../images/grid-icons/icon-grid-2-5.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}
.icon-grid-3-5{
    background: url(../images/grid-icons/icon-grid-3-5.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}
.icon-grid-4-5{
    background: url(../images/grid-icons/icon-grid-4-5.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}
.icon-grid-6{
    background: url(../images/grid-icons/icon-grid-6.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}
.icon-grid-5-6{
    background: url(../images/grid-icons/icon-grid-5-6.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.grid_one {
	width: 97.2% !important;
}

.grid_five_sixth {
	width: 80.6%;
}

.grid_three_fourth {
	width: 72.5%;
}

.grid_two_third {
	width: 64.4%;
}

.grid_seven {
	width: 56.5%;
}

.grid_two {
	width: 47.7%;
}

.grid_five {
	width: 18.02%;
}

.grid_three {
	width: 31.2%;
}

.grid_four {
	width: 22.97%;
}

.grid_six {
	width: 14.72%;
}

.grid_two_fifth {
	width: 37.8%;
}

.grid_three_fifth {
	width: 57.5%;
}

.grid_four_fifth {
    width: 77.4%;
}
.grid-item-wrapper{
    margin: 0.8% !important;
    border: 1px solid #e4e4e4;
    vertical-align: text-top;
    box-sizing: border-box;
    display: inline-block;
}
#simple_option{
    display: inline-block;
    float: right;
}
.innerElement {
    background: #FFF !important;
    min-height: 33px;
    margin-bottom: 0 !important;
    border: 1px dashed #E1E1E1;
    padding: 19px 8px 10px 16px;
    position: relative;
}
.handler{
    background: #f1f1f1;
    border: 1px solid #ddddde;
    padding: 10px;
}
.whstyles input.width{
    width: 48%;
    float: left;
    margin-bottom: 15px;
}
.whstyles input.height{
    width: 48%;
    float: right;
     margin-bottom: 15px;
}
.row-block{
    display: inline-block;
    width: 100%;
    border: 1px solid #E1E1E1;
    margin: 15px 0;
}
.row-content{
    background: #FFF !important;
    min-height: 33px;
    margin-bottom: 0 !important;
    border: 1px dashed #E1E1E1;
    padding: 19px 8px 10px 16px;
    position: relative;
}
.row-controls {
    background: #4d6571;
    padding: 10px;
    text-align: right;
    color: #fff;
    font-size: 16px;
    height: 45px;
}
.row-controls i{
   cursor: pointer; 
}
.custom-layout-cols{
    background: #fff;
    padding: 3px;
}
#visual-builder-mode .row-block:first-child .delete-row{
    visibility: hidden;
}
#form-preview-modal .modal-dialog{
    width: 90%;
}
#form-preview-modal .row-block,
#form-preview-modal .grid-item-wrapper{
    border: none;
}
#form-preview-modal .title{
    font-size: 24px;
    margin: 15px 25px;
}

input[type='checkbox']{
    width: auto;
    display: initial;
}