.node{
    width: 100px; 
    height: 100px;
    border: 2px solid #505050;
    text-align: center; 
    font-size: 12px;
    cursor: pointer;
    position: relative;
    background: rgba(78, 78, 78, 0.39);
    /*outline: #00FF00 solid 3px;*/
}
.node.female{
    border-radius: 50%;
}
.node.unknown{
    border-style: dotted;
}

.saveChanges{
    
    position: absolute;
    left: 10px;
    z-index: 1000;
    width: 160px;
    border: none;
    height: 35px;
    color: #fff;
    background: #3a7bbd;
    border-radius: 5px;
}

#node-actions{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
   
}
#node-actions .menu{
    position: absolute;
    background: #fff;
    width: 15px;
    text-align: center;
    font-size: 13px;
    line-height: 15px;
    border: 1px solid #808080;
    color: #808080;
    font-weight: bold;
    right: 0;
    top: 0;
    cursor: pointer;
}
#node-actions .menu:hover{
    background: #00FF00;
}
#node-actions .action-menu{
    display: none;
    position: absolute;
    right: -102px;
    background: #d8d8d8;
    border: 1px solid #999;
    padding: 0;
    z-index: 1000;
    text-align: left;
    width: 100px;
    list-style-type: none;
    top: 0;
    margin: 0;
}
#node-actions .action-menu li{
    position: relative;
    padding: 5px;
}
#node-actions .action-menu li .sub-menu{
    display: none;
    position: absolute;
    width: 80px;
    right: -80px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #f1f0f0;
    border: 1px solid #999;
    top: 0;
}
#node-actions .action-menu li:hover .sub-menu{
    display: block;
}

#node-actions .action-menu .icon-arrow-right{
    float: right;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 6px;
    border-color: transparent transparent transparent #000;
    margin-top: 3px;
}
.draggable{
   
}
/* RESPONSIVE ARROWS */
[class^=arr-]{
  border:       solid currentColor;
  border-width: 0 .2em .2em 0;
  display:      inline-block;
  padding:      .20em;
}
.arr-right {transform:rotate(-45deg);  -webkit-transform:rotate(-45deg);}
.arr-left  {transform:rotate(135deg);  -webkit-transform:rotate(135deg);}
.arr-up    {transform:rotate(-135deg); -webkit-transform:rotate(-135deg);}
.arr-down  {transform:rotate(45deg);   -webkit-transform:rotate(45deg);}